<!DOCTYPE html>
<html>
<head>
  <title>CryptoCards</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="http://notifyjs.com/dist/notify-combined.min.js"></script>
  <%= csrf_meta_tags %>
</head>
<body class="background">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>

</body>
</html>
